// fonts
$main-font: 'Merriweather', serif;;
$sub-font: 'Montserrat', sans-serif;;

// font size
$huge: 48px;
$bigest: 39px;
$big: 36px;
$medium: 24px;
$md: 22px;
$mediumest: 20px;
$small: 18px;
$smallest: 16px;
$ultra-small: 14px;

// font weight
$bold: 700;
$medium-weight: 400;

// colors
$main-color: #dd3610;
$footer-color: #ece2e2;
$transparent: rgba(0, 0, 0, .5);

